<!-- <p>
  add-movie works!
</p> -->

<div class="card">
 
  <div class="col-lg-5 col-md-12 col-sm-12">
    <h1>Add Movie</h1>
  </div>

  <div class>
    <form method="POST">
     
      <div> 
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Movie ID">
        </div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Movie Title">
        </div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Movie Director">
        </div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Movie Producer">
        </div>
        <div>
          <button type="button" class="btn btn-danger btn-lg btn-block">Submit</button>
        </div>
     </div>

    </form>
    
  </div>

</div>

<div class="alert alert-success" role="alert">
  You have <strong>successfully</strong> added your movie! 
</div>