.card_styling{
    border-color : grey;
    border-width : 5px;
    width : 50em;
    border-radius : 10px;
    padding-top : 20px;
    padding-bottom : 20px;
    padding-left : 20px;
    padding-right : 20px;
}

.input_field_spacing{
    margin-top : 20px;
}

#login_submit_btn_spacing{
    margin-top : 20px;
}

#login-heading{
    font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align : center;
    font-weight : 25px;
    color : black;
    font-weight : bolder;
}